@import "tailwindcss";

@font-face {
    font-family: outlet;
    src: url("Fonts/Outfit-VariableFont_wght.ttf");
}

@font-face {
    font-family: poppins;
    src: url("Fonts/Poppins-Regular.ttf");
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 400ms ease-in-out;
}